Source: ros-kinetic-ira-photonfocus-driver
Section: misc
Priority: extra
Maintainer: Alberto Invernizzi <alby.inve@gmail.com>
Build-Depends: debhelper (>= 9.0.0), curl, libcurl4-openssl-dev, ros-kinetic-camera-info-manager, ros-kinetic-catkin, ros-kinetic-cv-bridge, ros-kinetic-driver-base, ros-kinetic-dynamic-reconfigure, ros-kinetic-image-transport, ros-kinetic-roscpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-ira-photonfocus-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, curl, libcurl4-openssl-dev, ros-kinetic-camera-info-manager, ros-kinetic-cv-bridge, ros-kinetic-dynamic-reconfigure, ros-kinetic-image-transport, ros-kinetic-roscpp
Description: ROS sensor driver for PhotonFocus cameras
